<h1>You guessed:</h1>

<h2><%= @first_number %>, <%= @second_number %>, <%= @third_number %></h2>

<h1>Does it follow the rule?</h1>
<h2><%= @result %></h1>

<a href="/guesses/<%= @id %>/edit">Edit</a>
<p><a href="/guesses">View All</a></p>
